

.character {
    grid-area: character;
    align-self: end;
    height: 80% !important; 
    width: auto;
}


@media (max-width: 768px) {
    .character {
        height: 50% !important;
        top: auto;
        bottom: 0px;
    }
}